@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

.card {
  width: 400px;
  /* width: clamp(90%, 400px, 450px); */
  border-radius: 1.5rem;
  background-color: hsl(213, 19%, 18%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1rem;
}

.star-icon {
  background-color: hsl(216, 12%, 8%);
  /* padding: 0.5rem; */
  border-radius: 50%;
  /* display: inline;s */
  width: 40px;
  height: 40px;
}

.title {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.text {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}

.rating-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  /* background-color: white; */
}

.rate {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 12%, 8%);
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  font-family: "Overpass", sans-serif;
  cursor: pointer;
  transition: all ease 0.3s;
}

.rate:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.rate.active {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.btn {
  border-radius: 1.25rem;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
